.container {
    font-family: 'Roboto', sans-serif;
    background-color: #4E5C63;
}

.top {}

.navbar {
    font-size: 3em;
    z-index: 999;
    position: fixed;
    background-color: #2D3438;
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 50px 20px black;
}

.navbar ul {}

.left {
    float: left;
}

.left img {
    border-radius: 50%;
    margin-left: 100px;
}

.ul-right {
    margin-right: 100px;
}

.right {
    float: right;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: white;
    margin-top: 0em;
    height: 70px;
}

.right a {
    text-decoration: none;
    color: white;
    font-size: 0.35em;
}

.right:hover {
    background: rgba(255, 255, 255, 0.4);
}

.jumbotron {
    background-image: url(../pic/jumbotron.jpg);
    background-position: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
    display: table;
    z-index: 100;
}

.text {
    font-family: 'Roboto:700i', sans-serif;
    vertical-align: middle;
    display: table-cell;
    color: white;
    text-align: center;
    font-size: 7em;
}

.innerbox {
    width: 90%;
    margin: 0 auto;
    margin-top: -70px;
    padding: 10px;
    box-shadow: 0px 0px 50px 0px black;
    display: block;
    background-color: #2D3438;
    color: white;
    z-index: 150;
}

.inner-innerbox {
    width: 98%;
    margin: 0 auto;
}

small {
    color: #FF4336;
    font-size: 0.3em;
}

.download {
    width: 100%;
    height: 100px;
    display: inline;
}

.download-text h1 {
    font-size: 4em !important;
    font-family: 'Roboto:500i', sans-serif !important;
}

.download-text {
    font-size: 1em;
    float: left;
    text-align: justify;
    width: 45%;
    padding-right: 10px;
    right: 10px;
}

.buttons {
    float: right;
    height: inherit;
    width: 50%;
    padding-top: 30px;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.button1 button {
    background-color: #4CAF50;
    width: 30%;
    height: 90%;
    text-decoration: none;
    border: none;
    float: left;
    margin-right: 20%;
    margin-left: 15%;
}

.button2 button {
    background-color: #FF4336;
    width: 30%;
    height: 90%;
    text-decoration: none;
    border: none;
    float: left;
}

.middle {
    width: 100%;
    margin-top: 20px;
    height: 83%;
    margin-bottom: 50px;
}

.feed {
    height: 100%;
    width: 44%;
    margin-right: 5%;
    float: left;
    border: 1px solid;
    border-color: #1d2224;
}

.feed h1 {
    font-size: 2em;
    padding: 10px;
    margin: 0;
}

.pic {
    width: 39%;
    margin-left: 5%;
    float: right;
    margin-right: 5%;
    margin-bottom: 50px;
}

.topleft img,
.bottomleft img {
    width: 100%;
    border: 1px solid;
    border-color: #1D2224;
}

.update-feed {
    padding-left: 10px;
    padding-right: 10px;
}

.intranet {
    width: 95%;
    border: 1px solid;
    border-color: #1d2224;
    margin-bottom: 30px;
    padding: 2%;
}

.goal {
    width: 95%;
    border: 1px solid;
    border-color: #1d2224;
    padding: 2%;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Roboto:900i', sans-serif !important;
    font-size: 2em !important;
    text-align: center;
}

.image {
    float: left;
    width: 25%;
}

.commit-image {
    width: 90%;
    border-radius: 50%;
}

.content {
    float: right;
    width: 75%;
}

.commit-name {
    font-size: 2em !important;
    float: left;
}

.commit-details {
    width: 50%;
    font-size: 1em !important;
    float: left;
    margin-left: 15px;
}

.commit-details a {
    color: white;
    text-decoration: underline;
}

.commit {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 40px;
}

.message {
    margin-top: 60px
}

hr {
    width: 100%;
    border: 1px solid;
    border-color: #1d2224;
}

.intranet a {
    text-decoration: none;
    color: white;
}

.intranet a:hover {
    background: rgba(255, 255, 255, 0.4);
}

.team {
    width: 100%;
    margin-top: 0;
}

.tobi,
.bennet,
.moritz {
    width: calc(100%/3);
    float: left;
}

.tobipic,
.bennetpic,
.moritzpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.tobi h1,
.bennet h1,
.moritz h1 {
    text-align: center;
    font-size: 2em !important;
    margin-bottom: 5px;
}

.tobitext,
.bennettext,
.moritztext {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2%;
}

.innerteam h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
