.container {
    font-family: 'Roboto', sans-serif;
}
.top {
    
}
.navbar {
    font-size: 3em;
    z-index: 999;
    position: fixed;
    background-color: #2D3438;
    height: 100px;
    width: 100%;
    box-shadow:0px 0px 50px 20px black;
}
.left {
    float: left;
}
.left img {
    border-radius: 50%;
}
.right {
    float: right;
    margin-left: 100px;
}
.jumbotron {
    background-image: url(../lorempixel.jpg);
    width: 100%;
    height: 50%;
    display: table;
}
.text {
    font-family: 'Roboto:700i', sans-serif;
    vertical-align: middle;
    display: table-cell;
    color: white;
    text-align: center;
    font-size: 7em;
}
.innerbox {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    box-shadow:0px 0px 50px 0px black;
    display: block;
    background-color: #2D3438;
    color: white;
}
.download {
    width: 100%;
    border-style: double;
    border-width: 5px;
    border-color: #FF9800;
}
.middle {
    width: 100%;
    margin-top: 20px;
    height: 83%;
    margin-bottom: 50px;
}
.feed {
    height: 100%;
    width: 44%;
    margin-right: 5%;
    float: left;
    border-style: double;
    border-width: 5px;
    border-color: #FF9800;
}
.pic {
    width: 39%;
    margin-left: 5%;
    float: right;
    margin-right: 5%;
}
.topleft img, .bottomleft img {
    width: 100%;
    height: 45%;
    border-style: double;
    border-width: 5px;
    border-color: #FF9800;
    border-radius: 50%;
}
.intranet {
    width: 95%;
    border-style: double;
    border-width: 5px;
    border-color: #FF9800;
    margin-bottom: 30px;
    padding: 2%;
}
.goal {
    width: 95%;
    border-style: double;
    border-width: 5px;
    border-color: #FF9800;
    padding: 2%;
}
h1 {
    font-family: 'Roboto:900i', sans-serif !important;
    font-size: 2em !important;
    text-align: center;
}